
cache/

configs/server/gametypes/

*.wdz20

demos/

adhe.txt

backupcfg.cfg

backuplow.cfg

bomb.txt

config - Copy.cfg

config.cfg

cortex.txt

ctf.txt

data0_21pure.pk3.tmp

ddfgsd.txt

deccfg.cfg

demohttp.txt

dickcheese.txt

duelcup.cfg

frankfurt.txt

gametypes.txt

https.txt

listip.cfg

map_bipbeta2.pk3

nsk.txt

nt.txt

pcbomb.txt

sand.txt

votes.txt

voting.txt

wfconsole.log

wftest.txt

wswconsole.log
